div.container {
    width: 920px;
    margin: 0 auto;
}

.search {
    display: flex;
    width: 100%;
}

.search input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search button:hover {
    background-color: #0056b3;
}

div.movie {
    display: flex;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 5px;
}

div.poster {
    padding: 10px;
}

div.poster img {
    width: 100px;
    border-radius: 5px;
}

div.text {
    padding: 0 10px;
}

div.text h1 {
    font-size: 24px;
}
